# Week 12 Homework - Generate fake data

Extend the class `FakeDataGenerator` and add the following features to the extended class.

* Email address
* Phone number
* Person's name
* Year born. (Use realistic values.)
* Number of kids. (Use realistic values.)
* Marital status. (Single/Married) 
* Annual income. (Optional challenge: Use a non-uniform distribution)

* have a method to write it to a file in csv format

In [1]:
# Use this or replace this with yours from your week10 hw. (It's up to you.)

import pandas as pd
import random
from faker import Faker

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` length
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
          
        self.fake = Faker()
        
        if df is not None:
            self.df = df
            self.rows = len(df)
        else:
            self.df = pd.DataFrame()
            self.rows = rows
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [random.randint(small_value,high_value) for i in range(self.rows)]
        
        return self.df       
    
        
    def add_name(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.first_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.last_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.email() for i in range(self.rows)]
        
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.phone_number() for i in range(self.rows)]
        
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake address to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.address() for i in range(self.rows)]
        
        return self.df

In [2]:
# complete this
#extend the class
from datetime import datetime
from random import randint
import numpy

randint(1800, 1900)
class PocDataGenerator(FakeDataGenerator):
#     def test(self):
#         self.df['test'] = 32
    def year_born(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        
   
        """
        self.df[column_name] = [randint(1950, 2000) for i in range(self.rows)]
        
        
        return self.df
    
    def no_of_kids(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        
   
        """
        self.df[column_name] = [numpy.random.choice(numpy.arange(0, 5), p=[0.3,0.3,0.2,0.1,0.1]) for i in range(self.rows)]
        #self.df[column_name] = [randint(0, 5) for i in range(self.rows)]
        
        
        return self.df
    
    def marital_status(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        
   
        """
        mstatus = ["single", "married"]

        self.df[column_name] = [(random.choice(mstatus)) for i in range(self.rows)]
        #self.df[column_name] = [randint(1950, 2000) for i in range(self.rows)]
        
        
        return self.df
    
    def income(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        
   
        """
        self.df[column_name] = [randint(10000, 50000) for i in range(self.rows)]
        
        
        return self.df
    
    def save_csv(self):
        
        number = self.add_random_number('num', 80, 100)
        name = self.add_name('fname')
        last_name = self.add_last_name('lname')
        email = self.add_email('email')
        address = self.add_address('address')        
        ph_no = self.add_phone_number('ph_no')
        year_born = self.year_born('year_born')
        kids = self.no_of_kids('Number of kids')
        marital_status=self.marital_status('Marital status')
        income = self.income('income')
        df = pd.DataFrame()
        bigdata = pd.concat([self.df])
        bigdata.to_csv('df', index = False)
        return bigdata

In [3]:
g = PocDataGenerator()

In [4]:
g.save_csv()

,num,fname,lname,email,address,ph_no,year_born,Number of kids,Marital status,income
0,86,Tina,Morrow,xlee@gmail.com,"2991 Chang Lodge\nKatrinaberg, OR 55933",(844)383-5842,1957,1,single,37516
1,90,Jessica,Newman,patriciarodriguez@owens.com,"4351 Hart Avenue\nPort Rhonda, ME 43353",001-174-297-5406x1128,1970,1,married,37804
2,92,Aaron,Miller,andrewbenson@yahoo.com,"934 Emily Vista Apt. 730\nStevenstown, IN 37718",001-350-036-3434,1962,0,single,41840
3,92,Autumn,Shaffer,karenperez@yahoo.com,"334 Andrea Trail Suite 093\nJoshuaport, TX 18244",113.597.3967x0535,1963,1,married,28139
4,89,Michelle,Mendoza,michael65@neal-obrien.com,"24043 Gutierrez Light Apt. 707\nSouth Timothy,...",309-494-0636x23946,1978,0,married,33226

In [5]:
g.add_random_number('num', 2, 5)
g.add_name('fname')
g.add_last_name('lname')
g.add_email('email')
g.add_address('address')
g.add_phone_number('ph_no')
g.year_born('year_born')
g.no_of_kids('Number of kids')
g.marital_status('Marital status')
g.income('income')

,num,fname,lname,email,address,ph_no,year_born,Number of kids,Marital status,income
0,3,Samantha,Campos,curtis38@wright.com,"457 Rebecca Stravenue\nBrandonchester, GA 47680",(733)992-8931,1995,4,single,42394
1,4,Elizabeth,Holland,maryclarke@chaney-paul.net,"61062 Green Parkway Apt. 090\nWest Tiffany, OR...",+1-978-643-7459x59680,1995,1,married,16299
2,4,Ian,Mullins,nsmith@yahoo.com,"12252 Green Greens\nSouth Paultown, AL 52092",154-089-7720,1952,1,single,11955
3,5,Timothy,Lopez,brianna01@gmail.com,"517 Smith Summit Suite 048\nYatesfort, ID 59817",894-719-3777,1988,1,single,42091
4,4,Randy,Ayala,xgoodwin@lopez.net,"893 Jerry Drive Suite 297\nSouth Johnstad, WV ...",273.727.6609,2000,1,married,39612