# Week 11 Homework

Write a class that generates fake data.

* Write the code under the py docs ( do NOT remove docs strings)
* Before comitting do a Restart & Run All

Make sure that if a dataframe is passed in, it should not remove any value from it.

In [1]:
import names
import random
import numpy as np
import pandas as pd
from RandomWordGenerator import RandomWord

In [2]:

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` lenght
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
        
        
        if df is None:
            df = pd.DataFrame(index=np.arange(rows), columns = ['num', 'fname', 'lname', 'email', 'ph_no', 'address'])
            self.rows = rows
        else:
            df
            self.rows = df.shape[0]
             
            
        #print(self.rows)
        self.df = df
        
        
    def add_random_number(self, num, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.df['num'] = np.random.randint(small_value, high_value, self.df.shape[0])
        
        return self.df     
    
        
    def add_first_name(self, fname):
        """
        
        adds fake first name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        rand_name = []
        for i in range(self.rows):
             rand_name.append(names.get_first_name())
             
        self.df['fname'] = rand_name

        
        
        return self.df
    
    
    def add_last_name(self, lname):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        rand_name = []
        for i in range(self.rows):
             rand_name.append(names.get_last_name())
             
        self.df['lname'] = rand_name
       
        
        return self.df
    
    
    def add_email(self, email):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        emails = []
        email_domains = ['gmail', 'hotmail', 'live', 'outlook', 'yahoo', 'redmail']
        for x in range(self.rows):
            domain_index = np.random.randint(0, len(email_domains))
            name= names.get_first_name()
            year_born= np.random.randint(1940, 2002)
            email = name + str(year_born) + str(np.random.randint(1,12)) + '@' + email_domains[domain_index] + '.com'
            emails.append(email)
            #print(emails)
        self.df['email'] = emails
        
        
        
        return self.df
    
    
    def add_phone_number(self, ph_no):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        ph_no = []
        ph_num = ''

        for x in range(self.rows):
            ph_num = ''
            for num in range(0, 10):
                ph_num = ph_num + str(np.random.randint(0, 9))
            ph_no.append(ph_num)
            
        self.df['ph_no'] = ph_no
            
            
        
         
        
        return self.df
    
    
    def add_address(self, address):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        #imported address from faker library
        
        address = []
        community_prefix = ['Park', 'Summer', 'Autumn', 'Paradise', 'Eagle', 'Pine', 'Royal', 'University', 'Willow']
        community_suffix = ['Village', 'Creek', 'Place', 'Pointe', 'Square', 'Oaks', 'Gardens', 'Crossing', 'Court', 'Acres', 'Estates', 'Heights']
        
        community = [community_prefix]  + [community_suffix]
        
        street_suffix = ['Alley', 'Avenue', 'Branch', 'Bridge', 'Brook', 'Brooks', 'Burg', 'Burgs', 'Bypass', 'Camp', 'Canyon', 'Cape', 'Causeway', 'Center', 'Centers', 'Circle', 'Circles', 'Cliff', 'Cliffs', 'Club', 'Common', 'Corner', 'Corners', 'Course', 'Court', 'Courts', 'Cove', 'Coves', 'Creek', 'Crescent', 'Crest', 'Crossing', 'Crossroad', 'Curve', 'Dale', 'Dam', 'Divide', 'Drive', 'Drive', 'Drives', 'Estate', 'Estates', 'Expressway', 'Extension', 'Extensions', 'Fall', 'Falls', 'Ferry', 'Field', 'Fields', 'Flat', 'Flats', 'Ford', 'Fords', 'Forest', 'Forge', 'Forges', 'Fork', 'Forks', 'Fort', 'Freeway', 'Garden', 'Gardens', 'Gateway', 'Glen', 'Glens', 'Green', 'Greens', 'Grove', 'Groves', 'Harbor', 'Harbors', 'Haven', 'Heights', 'Highway', 'Hill', 'Hills', 'Hollow', 'Inlet', 'Inlet', 'Island', 'Island', 'Islands', 'Islands', 'Isle', 'Isle', 'Junction', 'Junctions', 'Key', 'Keys', 'Knoll', 'Knolls', 'Lake', 'Lakes', 'Land', 'Landing', 'Lane', 'Light', 'Lights', 'Loaf', 'Lock', 'Locks', 'Locks', 'Lodge', 'Lodge', 'Loop', 'Mall', 'Manor', 'Manors', 'Meadow', 'Meadows', 'Mews', 'Mill', 'Mills', 'Mission', 'Mission', 'Motorway', 'Mount', 'Mountain', 'Mountain', 'Mountains', 'Mountains', 'Neck', 'Orchard', 'Oval', 'Overpass', 'Park', 'Parks', 'Parkway', 'Parkways', 'Pass', 'Passage', 'Path', 'Pike', 'Pine', 'Pines', 'Place', 'Plain', 'Plains', 'Plains', 'Plaza', 'Plaza', 'Point', 'Points', 'Port', 'Port', 'Ports', 'Ports', 'Prairie', 'Prairie', 'Radial', 'Ramp', 'Ranch', 'Rapid', 'Rapids', 'Rest', 'Ridge', 'Ridges', 'River', 'Road', 'Road', 'Roads', 'Roads', 'Route', 'Row', 'Rue', 'Run', 'Shoal', 'Shoals', 'Shore', 'Shores', 'Skyway', 'Spring', 'Springs', 'Springs', 'Spur', 'Spurs', 'Square', 'Square', 'Squares', 'Squares', 'Station', 'Station', 'Stravenue', 'Stravenue', 'Stream', 'Stream', 'Street', 'Street', 'Streets', 'Summit', 'Summit', 'Terrace', 'Throughway', 'Trace', 'Track', 'Trafficway', 'Trail', 'Trail', 'Tunnel', 'Tunnel', 'Turnpike', 'Turnpike', 'Underpass', 'Union', 'Unions', 'Valley', 'Valleys', 'Via', 'Viaduct', 'View', 'Village', 'Village', 'Villages', 'Ville', 'Vista', 'Vista', 'Walk', 'Walks', 'Wall', 'Way', 'Ways', 'Well', 'Wells']
        city_prefix = ['North','East','West','South','New','Lake','Port']
        city_suffix = ['town','ton','land','ville','berg','burgh','borough','bury','view','port','mouth','stad','furt','chester','mouth','fort','haven','side','shire']
        city = city_prefix + city_suffix
        state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

        for x in range(self.rows):           
            house_no = np.random.randint(0, 10000)
            direction  = ['N', 'S', 'E', 'W', '']
            pin = ''
            for num in range(0, 5):
                pin =  pin + str(np.random.randint(0, 10))

            address.append(str(house_no) + ' ' + random.choice(street_suffix) + ' ' + random.choice(community_prefix) + ' ' +random.choice(city)  + ' ' + random.choice(state) + ' ' + pin)
            
        self.df['address'] = address
        return self.df

In [3]:
import pandas as pd
#a = MyClass(my_dataframe)
#b = MyClass(my_dataframe)
# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(8)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [4]:
fakeGen = FakeDataGenerator(df) 
fakeGen.add_random_number('num', 78,90)
fakeGen.add_first_name('fname')
fakeGen.add_last_name('lname')
fakeGen.add_email('email')
fakeGen.add_address('address')
fakeGen.add_phone_number('ph_no')

,product_id,num,fname,lname,email,address,ph_no
0,123,84,Dexter,Crowder,Talisha198911@live.com,3563 Turnpike Summer town Oklahoma 16382,4614615802
1,124,86,John,Archibald,Ellen19969@redmail.com,6042 Pike Park bury Iowa 15259,8237074026
2,125,82,David,Gilbert,William19965@gmail.com,8592 Cape Pine ville South Dakota 97456,3733712142
3,126,89,Irene,Clark,Nina197711@outlook.com,9232 Points Autumn East New Mexico 15850,7138287628
4,127,84,Eunice,Bakley,Donald19994@outlook.com,935 Ranch Park ville Georgia 45305,7472370852
5,128,86,Rebecca,Dotolo,Randy19984@hotmail.com,8257 Summit Autumn West Missouri 52319,1376760172
6,129,83,Martha,Grudem,Amy19846@live.com,5932 Plain University land Nevada 66390,3825200781
7,130,82,Steve,Mccall,Samuel19801@live.com,4537 Route Pine town Oklahoma 19338,4152520746

In [5]:
fakeGen = FakeDataGenerator() 
fakeGen.add_random_number('num', 78,90)
fakeGen.add_first_name('fname')
fakeGen.add_last_name('lname')
fakeGen.add_email('email')
fakeGen.add_address('address')
fakeGen.add_phone_number('ph_no')

,num,fname,lname,email,ph_no,address
0,81,Megan,Rosol,Victor197811@outlook.com,4122220884,9029 Way Paradise port Nebraska 14547
1,79,Nicholas,Thompson,David19651@hotmail.com,7412400877,983 Knoll Paradise shire West Virginia 11930
2,84,Kara,Hollinger,Leonor19518@gmail.com,6285408170,2982 Road Paradise borough Alaska 30152
3,87,Tammy,Steenberg,Marvin195610@live.com,0467188748,1789 Flat Royal ville Maine 37067
4,88,Iesha,Radin,Gabriela20013@live.com,3128160033,3634 Unions University view Nevada 93142