# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [1]:
import pandas as pd


url = 'https://raw.githubusercontent.com/mguner/teaching/main/datasets/nyc_flights/nyc_flights.csv'

## read the file
flights = pd.read_csv(url)

In [2]:
#flights.shape

In [3]:
#flights.columns

In [4]:
#flights.info()

In [5]:
#flights.head()

In [6]:
#flights.tail()

### 1. When do the first and last flights leave each day?

In [7]:

flights.groupby('day').dep_time.max()

day
1     2359.0
2     2400.0
3     2359.0
4     2400.0
5     2400.0
6     2359.0
7     2400.0
8     2359.0
9     2400.0
10    2400.0
11    2400.0
12    2400.0
13    2400.0
14    2359.0
15    2400.0
16    2359.0
17    2400.0
18    2359.0
19    2400.0
20    2400.0
21    2400.0
22    2400.0
23    2358.0
24    2359.0
25    2400.0
26    2358.0
27    2400.0
28    2400.0
29    2400.0
30    2400.0
31    2359.0
Name: dep_time, dtype: float64

In [8]:

import numpy as np
flights.groupby(['day']).agg({'dep_time': [np.min,np.max]})

    dep_time
        amin    amax
day
1        1.0  2359.0
2        3.0  2400.0
3        2.0  2359.0
4        3.0  2400.0
5        1.0  2400.0
6        4.0  2359.0
7        2.0  2400.0
8        1.0  2359.0
9        2.0  2400.0
10       1.0  2400.0
11       1.0  2400.0
12       2.0  2400.0
13       1.0  2400.0
14       3.0  2359.0
15       1.0  2400.0
16       1.0  2359.0
17       2.0  2400.0
18       1.0  2359.0
19       1.0  2400.0
20       1.0  2400.0
21       2.0  2400.0
22       1.0  2400.0
23       4.0  2358.0
24       1.0  2359.0
25       1.0  2400.0
26       1.0  2358.0
27       1.0  2400.0
28       1.0  2400.0
29       2.0  2400.0
30       1.0  2400.0
31       1.0  2359.0

### 2. When there is a missing value in dep_time then this is an indication of canceled flight. Find the number of cancelled flights for each (carrier, origin) combination.

In [9]:
df=flights[flights.dep_time.isnull()][['carrier', 'origin']]
len(df)

8255

### 3. Which carrier has the worst dep_delays?

In [10]:
#flights.groupby(['carrier', 'origin']).agg({'dep_time': 'count'})

old=flights.groupby(['carrier']).agg({'dep_delay': 'max'})
old[old['dep_delay']==old['dep_delay'].max()]

         dep_delay
carrier
HA          1301.0

### 4. Which plane (tailnum) has the worst on-time record?

In [11]:
#Which plane (tailnum) has the worst on-time record?
new = flights.groupby(['tailnum']).agg({'arr_delay': 'max'})
new[new['arr_delay']==new['arr_delay'].max()]

         arr_delay
tailnum
N384HA      1272.0

In [12]:
new['arr_delay'].max()

1272.0

### 5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [13]:
#new = 
flights.groupby(['tailnum'])
#.arr_delay > 1.0

In [14]:
flights[flights['arr_delay'] > 0]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01T10:00:00Z
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336759,2013,9,30,2207.0,2140,27.0,2257.0,2250,7.0,MQ,3660,N532MQ,LGA,BNA,97.0,764,21,40,2013-10-01T01:00:00Z
336760,2013,9,30,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,2013-10-01T00:00:00Z
336762,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-10-01T01:00:00Z
336763,2013,9,30,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,2013-10-01T00:00:00Z
336768,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-10-01T02:00:00Z