# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [1]:
import pandas as pd


url = 'https://raw.githubusercontent.com/mguner/teaching/main/datasets/nyc_flights/nyc_flights.csv'

## read the file
flights = pd.read_csv(url)

In [2]:
#flights.shape

In [3]:
#flights.columns

In [4]:
#flights.info()

In [11]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z

In [6]:
#flights.tail()

### 1. When do the first and last flights leave each day?

In [8]:

import numpy as np
flights.groupby(['day']).agg({'dep_time': [np.min,np.max]})

    dep_time
        amin    amax
day
1        1.0  2359.0
2        3.0  2400.0
3        2.0  2359.0
4        3.0  2400.0
5        1.0  2400.0
6        4.0  2359.0
7        2.0  2400.0
8        1.0  2359.0
9        2.0  2400.0
10       1.0  2400.0
11       1.0  2400.0
12       2.0  2400.0
13       1.0  2400.0
14       3.0  2359.0
15       1.0  2400.0
16       1.0  2359.0
17       2.0  2400.0
18       1.0  2359.0
19       1.0  2400.0
20       1.0  2400.0
21       2.0  2400.0
22       1.0  2400.0
23       4.0  2358.0
24       1.0  2359.0
25       1.0  2400.0
26       1.0  2358.0
27       1.0  2400.0
28       1.0  2400.0
29       2.0  2400.0
30       1.0  2400.0
31       1.0  2359.0

In [10]:
def first_last(df):
    return df.iloc[[0, -1]]
grouped_by_month_day = flights.groupby(['month', 'day']).apply(first_last)

grouped_by_month_day

                  year  month  day  dep_time  sched_dep_time  dep_delay  \
month day
1     1   0       2013      1    1     517.0             515        2.0
          841     2013      1    1       NaN             600        NaN
      2   842     2013      1    2      42.0            2359       43.0
          1784    2013      1    2       NaN            1601        NaN
      3   1785    2013      1    3      32.0            2359       33.0
...                ...    ...  ...       ...             ...        ...
12    29  109551  2013     12   29       NaN            1505        NaN
      30  109552  2013     12   30       1.0            2359        2.0
          110519  2013     12   30       NaN             855        NaN
      31  110520  2013     12   31      13.0            2359       14.0
          111295  2013     12   31       NaN             830        NaN

                  arr_time  sched_arr_time  arr_delay carrier  flight tailnum  \
month day
1     1   0          830.0             819       11.0      UA    1545  N14228
          841          NaN             901        NaN      B6     125  N618JB
      2   842        518.0             442       36.0      B6     707  N580JB
          1784         NaN            1735        NaN      UA     623     NaN
      3   1785       504.0             442       22.0      B6     707  N763JB
...                    ...             ...        ...     ...     ...     ...
12    29  109551       NaN            1811        NaN      UA     455     NaN
      30  109552     441.0             437        4.0      B6     839  N508JB
          110519       NaN            1142        NaN      UA    1506     NaN
      31  110520     439.0             437        2.0      B6     839  N566JB
          111295       NaN            1154        NaN      UA     443     NaN

                 origin dest  air_time  distance  hour  minute  \
month day
1     1   0         EWR  IAH     227.0      1400     5      15
          841       JFK  FLL       NaN      1069     6       0
      2   842       JFK  SJU     189.0      1598    23      59
          1784      EWR  ORD       NaN       719    16       1
      3   1785      JFK  SJU     193.0      1598    23      59
...                 ...  ...       ...       ...   ...     ...
12    29  109551    EWR  MIA       NaN      1085    15       5
      30  109552    JFK  BQN     198.0      1576    23      59
          110519    EWR  JAC       NaN      1874     8      55
      31  110520    JFK  BQN     189.0      1576    23      59
          111295    JFK  LAX       NaN      2475     8      30

                             time_hour
month day
1     1   0       2013-01-01T10:00:00Z
          841     2013-01-01T11:00:00Z
      2   842     2013-01-03T04:00:00Z
          1784    2013-01-02T21:00:00Z
      3   1785    2013-01-04T04:00:00Z
...                                ...
12    29  109551  2013-12-29T20:00:00Z
      30  109552  2013-12-31T04:00:00Z
          110519  2013-12-30T13:00:00Z
      31  110520  2014-01-01T04:00:00Z
          111295  2013-12-31T13:00:00Z

[730 rows x 19 columns]

### 2. When there is a missing value in dep_time then this is an indication of canceled flight. Find the number of cancelled flights for each (carrier, origin) combination.

In [ ]:
df=flights[flights.dep_time.isnull()][['carrier', 'origin']]
len(df)

### 3. Which carrier has the worst dep_delays?

In [ ]:
#flights.groupby(['carrier', 'origin']).agg({'dep_time': 'count'})

old=flights.groupby(['carrier']).agg({'dep_delay': 'max'})
old[old['dep_delay']==old['dep_delay'].max()]

### 4. Which plane (tailnum) has the worst on-time record?

In [ ]:
#Which plane (tailnum) has the worst on-time record?
new = flights.groupby(['tailnum']).agg({'arr_delay': 'max'})
new[new['arr_delay']==new['arr_delay'].max()]

In [ ]:
new['arr_delay'].max()

### 5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [ ]:
#new = 
flights.groupby(['month', 'day', 'tailnum'])
#.arr_delay > 1.0

In [24]:
max_delay = (flights['arr_delay'] >60)
len(max_delay)

336776

In [12]:
for 
(flights[flights['arr_delay'] > 60]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
119,2013,1,1,811.0,630,101.0,1047.0,830,137.0,MQ,4576,N531MQ,LGA,CLT,118.0,544,6,30,2013-01-01T11:00:00Z
151,2013,1,1,848.0,1835,853.0,1001.0,1950,851.0,MQ,3944,N942MQ,JFK,BWI,41.0,184,18,35,2013-01-01T23:00:00Z
218,2013,1,1,957.0,733,144.0,1056.0,853,123.0,UA,856,N534UA,EWR,BOS,37.0,200,7,33,2013-01-01T12:00:00Z
268,2013,1,1,1114.0,900,134.0,1447.0,1222,145.0,UA,1086,N76502,LGA,IAH,248.0,1416,9,0,2013-01-01T14:00:00Z
269,2013,1,1,1120.0,944,96.0,1331.0,1213,78.0,EV,4495,N16561,EWR,SAV,117.0,708,9,44,2013-01-01T14:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336664,2013,9,30,1943.0,1810,93.0,2140.0,1955,105.0,MQ,3526,N724MQ,LGA,CMH,72.0,479,18,10,2013-09-30T22:00:00Z
336668,2013,9,30,1951.0,1649,182.0,2157.0,1903,174.0,EV,4294,N13988,EWR,SAV,95.0,708,16,49,2013-09-30T20:00:00Z
336724,2013,9,30,2053.0,1815,158.0,2310.0,2054,136.0,EV,5292,N600QX,EWR,ATL,91.0,746,18,15,2013-09-30T22:00:00Z
336757,2013,9,30,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30T22:00:00Z
336763,2013,9,30,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,2013-10-01T00:00:00Z

In [27]:
def my_delay_funct(group):
    for index in range(len(group)):
        #print(index)
        return group(index)
        #max_delay = index['arr_delay'] >60
        len(max_delay)
        #if index['dep_delay'] > 60:
                #break
                
grouped_delay = flights.groupby('day').apply(my_delay_funct)
grouped_delay

TypeError: 'DataFrame' object is not callable

In [18]:
from rpy2.robjects import r

ggplotRegression = r("""library(dplyr)
library(nycflights13)

flights %>%
  mutate(dep_delay = coalesce(dep_delay, 0)) %>%
  arrange(month, day, dep_time) %>%
  group_by(tailnum) %>%
  summarise(max_delay = max(dep_delay), 
            which_first_geq_1hr = which.max(dep_delay > 60)) %>%
  ungroup %>%
  filter(max_delay > 60)""")

ModuleNotFoundError: No module named 'rpy2'